<div id="login">
  <h3 class="text-center text-white pt-5">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-6">
        <div id="login-box" class="col-md-12">
          <div class="mar-ver pad-btm">
            <h3> Iniciar Session</h3>
            <hr>
            <br>
          </div>
          <div class="form-group">
            <div class="alert alert-danger" role="alert" *ngIf="message != ''">
              <i class="fa fa-exclamation-circle"></i> {{ message }}
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input [(ngModel)]="userName" name="userName" type="text" class="form-control" placeholder="Nombre de Usuario" autofocus>
					  </div>
          </div>
          <div class="form-group">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-key"></i></span>
              </div>
              <input [(ngModel)]="password" name="password" type="password" class="form-control" placeholder="Clave">
            </div>
          </div>
          <button class="btn btn-success btn-block" (click)='login()'>Ingresar</button>
        </div>
      </div>
    </div>
  </div>
</div>